.chat-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    position: relative;
    /* width: 75%; */
}

.chatbox-details {
    margin-bottom: auto;
    padding: 10px;
    box-shadow: 0px 2px 2px 0px var(--grey-color);
    display: flex;
    align-items: center;
}

.chatbox-details-name {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.chatbox-details-backbtn {
    display: none;
}

.chatbox-details-backbtn>a {
    padding: 10px 15px;
}

@media screen and (max-width:550px) {
    .chatbox-details-backbtn {
        display: block;
    }

    .chatbox-details {
        padding: 10px 0;
    }
}

.chat-list {
    display: flex;
    flex-direction: column;
    padding: 2px 10px;
    overflow-y: auto;
}

.chat-list>div {
    width: 50%;
    margin-top: 5px;
}

.chat-input-field {
    width: calc(100% - 20px);
    padding: 10px;
    z-index: 999;
    display: flex;
    background-color: white;
}

.chat-input-field>textarea {
    width: calc(100% - 22px);
    line-height: 22px;
    border: 1px solid var(--grey-color);
    border-radius: 25px;
    padding: 10px;
    font-size: 1em;
    outline: none;
    resize: none;
}

.btn-scrolldown {
    width: 40px;
    min-height: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    background-color: var(--blue-color);
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    transition: all .25s;
    cursor: pointer;
    z-index: 99;
}