.app-wrap {
    display: flex;
}

.app-wrap>div:nth-child(2) {
    flex-grow: 1;
}

.side-menu {
    padding: 20px 10px;
    border-right: 1px solid var(--grey-color);
}

.sub-menu {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    box-shadow: 0 0 8px 2px rgb(0, 0, 0, .2);
    padding: 20px;
    z-index: 999;
    width: 50%;
}

.sub-menu>.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 0.75rem;
}

.sub-menu>form>div {
    margin: 10px 0;
}

.sub-menu>form input {
    outline: 0;
    font-size: 1em;
}

.sub-menu>form>.update-btn>button {
    background: var(--blue-color);
    color: white;
    width: 100%;
    padding: .5rem 0;
}

.sub-menu>.lg-avatar {
    margin: 0 auto;
}

.search-field {
    margin-bottom: 10px;
}

.search-field>input {
    border: 1px solid var(--grey-color);
    border-radius: 25px;
    padding: 10px;
    outline: none;
}

.search-user-details {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all .2s;
    border-radius: 10px;
    width: 100%;
}

.search-user-details:hover {
    box-shadow: 0px 0px 5px 0px var(--grey-color);
}

.search-user-details>div:first-child {
    margin-right: 5px;
}

.search-user-details>div:last-child {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.side-menu>div {
    width: fit-content;
    margin: 0 auto 20px auto;
}

.side-menu svg {
    font-size: 1.3em;
}

.side-menu>.lg-avatar>button {
    width: 100%;
    height: 100%;
}

.menu-action>a {
    color: var(--black-color);
}

.menu-action>button {
    font-size: 1em;
    color: var(--black-color);
}

.dark .sub-menu {
    background-color: var(--black-color);
    box-shadow: 1px 1px 5px 0px var(--lightwhite-color);
}

.dark .menu-action>a,
.dark .menu-action>button {
    color: white;
}